.shape-1,
.shape-2,
.shape-3 {
    background-color: blueviolet;
    color: aliceblue;
    width: 500px;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
}

.shape-2 {
    background-color: rgb(183, 173, 185)
}

.shape-3 {
    background-color: rgb(238, 236, 236)
}

/* 5-8=>2 */
.assign-1,
.assign-2,
.assign-3,
.assign-4 {
    padding: 5px 20px;
}

.assign-1 {
    background-image: url("../images/css-assignment-5-8.png");
    background-repeat: no-repeat;
}

.assign-2 {
    background-image: url("../images/css-assignment-5-8.png");

    background-repeat: repeat-x;
}

.assign-3 {
    background-image: url("../images/css-assignment-5-8.png");

    background-repeat: repeat-y;
}

.assign-4 {
    background-image: url("../images/css-assignment-5-8.png");

    background-repeat: repeat;
}

.direction-1,
.direction-2,
.direction-3,
.direction-4 {
    padding: 5px 20px;

}

.direction-1 {
    background-image: url("../images/css-assignment-5-8.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;

}

.direction-2 {
    background-image: url("../images/css-assignment-5-8.png");
    background-repeat: repeat-y;
    background-position: right top;
}

.direction-2 p {
    text-align: right;
}

.direction-3 {
    background-image: url("../images/css-assignment-5-8.png");
    background-position: right bottom;
    background-repeat: repeat-x;
    text-align: start;
}

.direction-4 {
    background-image: url("../images/css-assignment-5-8.png");
    background-repeat: repeat;
    background-position: right top;
}

.size-1 {
    width: 400PX;
    height: 400PX;
    background-image: url("../images/css-assignment-5-8.png");
    background-repeat: no-repeat;
    background-size: 60% 60%;
}

.size-2 {
    width: 400PX;
    height: 400PX;
    background-image: url("../images/css-assignment-5-8.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: right top;
}

.size-3 {
    width: 400PX;
    height: 400PX;
    background-image: url("../images/css-assignment-5-8.png");
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: right bottom;
}

.size-4 {
    width: 400PX;
    height: 400PX;
    background-image: url("../images/css-assignment-5-8.png");
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: right bottom;
}


.border-1 {
    background-color: #eee;
    display: inline-block;
    border: 5px solid red;
    outline-width: 5px;
    outline-style: solid;
    outline-color: black;
    margin-left: 10px;
}

.border-2 {
    background-color: #eee;
    display: inline-block;
    border-width: 5px;
    border-style: solid;
    border-color: blue green;
    outline-width: 5px;
    outline-style: solid;
    outline-color: black;
    margin-left: 10px;

}

.border-3 {
    display: inline-block;
    background-color: #eee;
    border-width: 5px;
    border-style: dashed;
    border-color: red green blue yellow;
    outline-width: 5px;
    outline-style: solid;
    outline-color: black;
    margin-left: 10px;

}

.border-1,
.border-2,
.border-3 p {
    text-align: center;
    font-size: 30px;
}

.visible-1 {
    min-width: 200px;
    max-width: 400px;
    height: 80px;
    background-color: #eee;
    padding-left: 35px;
    padding-top: 10px;
    margin: 10px;


}

.visible-2 {
    visibility: hidden;
    min-width: 200px;
    max-width: 400px;
    height: 80px;
    background-color: #eee;
    padding-left: 35px;
    padding-top: 10px;
    margin: 10px;

}

.visible-3 {
    min-width: 200px;
    max-width: 400px;
    height: 80px;
    background-color: #eee;
    padding-left: 35px;
    padding-top: 10px;
    margin: 10px;

}



.visible-1,
.visible-2,
.text {
    padding-left: 10px;
    border-left: 5px solid blue;
    font-size: 25px;
    text-align: start;
}

.parent .child .title {
    color: red;
}

.parent .title,
.title {
    font-family: 'Edu TAS Beginner', cursive;
    color: blue;
    text-decoration: underline;
}

.parent p {
    color: green;
}

.overflow-1,
.overflow-2,
.overflow-3,
.overflow-4,
.overflow-5 {
    background-color: rgb(135, 13, 13);
    width: fit-content;
    max-width: 400px;
    height: fit-content;
    max-height: 300px;
    overflow: hidden;
}

.overflow-1,
.overflow-2,
.overflow-3,
.overflow-4,
.overflow-5 p {
    margin: 15px;
    color: wheat;
    font-size: 25px;
    padding: 20px;
}

.shadow {
    text-shadow: 1px 0px red, 2px 0px blue;

}

.one {
    text-transform: uppercase;
}

.two::first-letter {
    text-transform: uppercase;
}

.normal {
    background-color: #eee;
    width: 400px;
    padding: 10px;
    margin: 10px;
}

.one-line::first-line {
    background-color: #eee;
    width: 400px;


}

.elipes {
    background-color: #eee;
    width: 400px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10px;

}

/* .zero {
    background-color: yellow;
    width: 200px;
    height: 300px;
} */

.zero::first-letter {
    width: 90px;
    text-transform: uppercase;
}

.zero a {

    background-color: aquamarine;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 30px;
    border-bottom: 5px solid red;
    text-decoration-line: none;
}

.color-border-p1 {
    text-align: center;
    border: 2px solid red;
    padding: 10px;
    margin-bottom: 10px;
}

.color-border-p2 {
    text-align: center;
    border: 2px solid blueviolet;
    padding: 10px;
    margin-top: 10px;
}

.color-border-p1 .color-border-1 {
    margin: 10px;
    padding: 10px;
    border: inherit;
}

.color-border-p2 .color-border-2 {
    border: inherit;
    padding: 10px;
}

.family-1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}

.family-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}



.parent-float {
    border: 2px solid red;
    background-color: #eee;
    width: 100%;
    height: 300px;
    overflow: hidden;
    opacity: 1;

}

.p0 {
    padding: 15px;
    text-align: center;
    background-color: blueviolet;
    text-transform: capitalize;
    font-size: 30;
    font-weight: bold;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    opacity: 1;

}

.first-line {
    text-align: center;
    padding: 15px 0px;
    width: calc((100% - 90px) / 3);
    margin-left: 15px;
    margin-right: 15px;
    background-color: rebeccapurple;
    float: left;
    overflow: hidden;
    font-weight: bold;
    color: white;
    opacity: 0.8;

}

.second-line {
    text-align: center;
    padding: 15px;
    width: calc((100% - 120px) / 2);
    margin-left: 15px;
    margin-right: 15px;
    background-color: rebeccapurple;
    float: left;
    overflow: hidden;
    font-weight: bold;
    color: white;
    opacity: 0.6;
}

.three-line {
    text-align: center;
    padding: 15px;
    width: calc((100% - 240px) / 4);
    margin-left: 15px;
    margin-right: 15px;
    background-color: rebeccapurple;
    float: left;
    overflow: hidden;
    font-weight: bold;
    color: white;
    opacity: 0.2;
}



.red {
    width: 200px;
    height: 100px;
    background-color: red;
    position: relative;
    left: 40px;
}

.blue {
    width: 200px;
    height: 100px;
    background-color: blue;
    position: relative;
    bottom: 80px;
    left: 20px;
    z-index: 1;
}

.black {
    width: 200px;
    height: 100px;
    background-color: blueviolet;
    position: relative;
    bottom: 160px;
    z-index: 2;
}

.text-1 {
    margin: 50px 100px;
    width: 400px;
    background-color: #eee;
    font-weight: bold;
    padding: 20px;

    /* border: 2px solid yellow, 2px solid rebeccapurple,; */
    border-top-color: red;
    border-top-style: solid;
    border-top-width: 4px;

    border-left-color: blue;
    border-left-style: solid;
    border-left-width: 4px;
    border-bottom-color: red;
    border-bottom-style: solid;
    border-bottom-width: 4px;

    border-right-color: blue;
    border-right-style: solid;
    border-right-width: 4px;
    position: relative;
}

.top-left,
.bottom-left,
.bottom-right1,
.bottom-right {
    width: 50px;
    height: 30px;
    background-color: blue;
    text-align: center;
    font-weight: bold;
    font-size: 29px;
    padding: 10px';

}

.top-left {
    border-right: 4px solid red;
    position: absolute;
    top: -15px;
    left: -15px;
}

.bottom-left {
    border-right: 4px solid red;
    position: absolute;
    bottom: -15px;
    left: -15px;
}

.bottom-right {
    border-left: 4px solid red;
    position: absolute;
    bottom: -15px;
    right: -15px;
}

.bottom-right1 {
    border-left: 4px solid red;
    position: absolute;
    top: -15px;
    right: -15px;
}

/* .ls1 {
    background-color: #eee;
    list-style-position: outside;
    list-style-type: decimal();
}

.ls2 {}

.ls3 {} */

table {
    width: 600px;
    border-spacing: 2pxpx;
}

table thead td {
    text-align: center;
    background-color: black;
    color: white;
    text-transform: capitalize;


}

table tbody td {
    text-align: center;
    padding: 10px;
    background-color: #eee;
}

.view {
    padding: 10px;
    background-color: blue;
    color: white;
}

.delete {
    padding: 10px;
    background-color: red;
    color: white;
}

.pos1 {
    width: fit-content;
    background-color: #eee;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    margin: 10px;

}

.pos1::first-letter {
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: red;
    margin-left: -30px;

}


.user {
    margin-top: 20px;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: #eee;
    margin-right: 30px;
    float: left;

}

.algin-1 {
    margin-top: 20px;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: #eee;
    width: fit-content;
    float: left;
    border-left: 5px solid red;
    position: relative;

}

.algin-1::before {
    content: "";
    border-color: transparent red transparent transparent;
    border-width: 15px;
    border-style: solid;
    position: absolute;
    left: -34px;
}

.increment-1 {
    counter-increment: counter-number;
}

.increment-1 {
    width: fit-content;
    height: 50px;
    background-color: #eee;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 40%;
    border-right: 5px solid red;
    position: relative;
}

.increment-1::before {
    content: counter(counter-number);
    width: 50px;
    height: inherit;
    text-align: center;
    background-color: red;
    color: white;
    padding: 10px;
    position: absolute;
    left: -65px;
    top: 0px;

}

.parent-reduis {
    background-color: blueviolet;
    width: 200px;

}

.reduis-1 {
    margin: 100px;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50px;
    float: left;
}

.reduis-2 {
    margin: 100px;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50px;
    float: left;
}

.reduis-a {
    width: 80px;
    position: relative;
    bottom: 50px;
    left: 14px;
    background-color: blue;
    color: white;
    font-weight: bold;
}

.reduis-c {
    width: 80px;
    position: relative;
    bottom: 50px;
    left: 14px;
    background-color: blue;
    color: white;
    font-weight: bold;
}

.reduis-b {

    position: relative;
    left: 32px;
    color: white;
    font-weight: bold;
}

.parent-transition {
    width: 550px;
    text-align: center;
    height: 300px;
    background-color: #eee;
    caret-color: red;
    cursor: pointer;
    overflow: hidden;

}



.transition:hover {
    padding-top: 90px;
    text-align: center;
    background-color: cyan;
    height: 100px;
    transform: translate3d(20px, -20px, 30px);
    transition-duration: 0.1s;
    transition-delay: 0.2s;



}


.mm {

    cursor: pointer;
    caret-color: blueviolet;
    pointer-events: none;
}

:root {
    --mainColor: #1728bf;
    --mainPadding: 10px;
}

.all-same {
    padding: 10px;
    background-color: var(--mainColor);
    margin: 10px;
    color: white;
    border:calc(20px + var(--mainPadding)) solid red;
}